{% extends "core/base.html" %}

{% block titulo %}
     Galeria de Flores - Floreria Florever
{% endblock titulo %}
{% load static %}
{% block contenido %}
     <center>
    <h1>Galería de Flores</h1>
    </center>
    <hr>
    <br>


    <div class="productos">            
            <img src="{% static 'img/cala1.png' %}">
            <h2>$6.990.-</h2>
            <h3>Calas con Florero</h3>
            <div><b>Agregar Carrito</b></div>
        </div>
    
    <div class="productos">            
            <img src="{% static 'img/cala2.png' %}">
            <h2>$5.490.-</h2>
            <h3>Ramo de Calas</h3>
            <div><b>Agregar Carrito</b></div>
        </div>
    
    <div class="productos">            
            <img src="{% static 'img/cala4.png' %}">
            <h2>$3.990.-</h2>
            <h3>Ramo de Calas</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/cala5.png' %}">
            <h2>$3.890.-</h2>
            <h3>Ramo de Calas</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/calas3.png' %}">
            <h2>$12.490.-</h2>
            <h3>Ramo de Rosas y Calas</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/gira1.png' %}">
            <h2>$2.990.-</h2>
            <h3>Girasoles</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/gira2.png' %}">
            <h2>$4.990.-</h2>
            <h3>Adorno de Girasoles</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/gira3.png' %}">
            <h2>$6.990.-</h2>
            <h3>Adorno Girasoles</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/gira4.png' %}">
            <h2>$13.990.-</h2>
            <h3>Girasoles con peluche</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/horte1.png' %}">
            <h2>$5.990.-</h2>
            <h3>Centro de Mesa</h3>
            <h3>Hortensias</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/horte2.png' %}">
            <h2>$5000.-</h2>
            <h3>Hortensias de colores</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/horte3.png' %}">
            <h2>$5.990.-</h2>
            <h3>Hortensias de colores</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/horte4.png' %}">
            <h2>$7.990.-</h2>
            <h3>Hortensias</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/rosas1.png' %}">
            <h2>$7.990.-</h2>
            <h3>Ramo de Rosas</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/rosas2.png' %}">
            <h2>$9.990.-</h2>
            <h3>Ramo de Rosas</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/rosas16.png' %}">
            <h2>$10.990.-</h2>
            <h3>Ramo de Rosas Moradas</h3>
           <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/rosas4.png' %}">
            <h2>$11.990.-</h2>
            <h3>Ramo de Rosas Pink</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/rosas5.png' %}">
            <h2>$8.990.-</h2>
            <h3>Ramo de Rosas Rojas</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/rosas6.png' %}">
            <h2>$12.990.-</h2>
            <h3>Adorno Rosas Coral</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/rosas7.png' %}">
            <h2>$11.990.-</h2>
            <h3>Ramo de rosas Blancas</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/rosas10.png' %}">
            <h2>$7.990.-</h2>
            <h3>Adorno de Rosas Blancas</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/rosas11.png' %}">
            <h2>$9.980.-</h2>
            <h3>Ramo de Rosas Pastel</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/tuli1.png' %}">
            <h2>$6.990.-</h2>
            <h3>Adorno Tulipan Rosado</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/tuli2.png' %}">
            <h2>$5.990.-</h2>
            <h3>Adorno Tulipan Amarillo</h3>
           <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/tuli3.png' %}">
            <h2>$8.990.-</h2>
            <h3>Adorno Tulipan Amarillo</h3>
            <div><b>Agregar Carrito</b></div>
        </div>

    <div class="productos">            
            <img src="{% static 'img/tuli4.png' %}">
            <h2>$5000.-</h2>
            <h3>Ramo de Tulipanes</h3>
            <div><b>Agregar Carrito</b></div>
        </div>
    
    <div class="productos">            
            <img src="{% static 'img/tuli6.png' %}">
            <h2>$7.990.-</h2>
            <h3>Ramo de Tulipanes Coral</h3>
            <div><b>Agregar Carrito</b></div>
        </div>
    
    <div class="productos">            
            <img src="{% static 'img/tuli7.png' %}">
            <h2>$6.990.-</h2>
            <h3>Adorno Tulipan Coral</h3>
            <div><b>Agregar Carrito       </div>
    
        {% for flo in flores %}
        <div class="flor">
            <h3>{{flo.name}}</h3>
            <img src="{{flo.imagen.url}}" width="100" height="100">
            <p>
                {{flo.descripcion}}
                {{flo.precio}}
            </p>
            
            <a href="{% url 'AGREGAR_CARRO' flo.name %}">Agregar al Carrito</a>
        </div>
        {% endfor %}
        <hr>
        <h1>{{lista}}</h1>
{% endblock contenido %}



        
   