{% extends "core/base.html" %}

{% block titulo %}
     
{% endblock titulo %}
{% load static %}
{% block contenido %}
    <center>
    <h1>Quiénes Somos</h1>
    <br>
    <br>
        <p>Florever es una florería en línea, con despacho de flores a domicilio en la Región Metropolitana de Chile. 
        <br>Legalmente hablando, somos una pequeña empresa, Hacemos entrega de nuestros arreglos florales y ramos de flores, 
        <br>tanto para personas naturales como hoteles, tiendas, oficinas, restaurantes, matrimonios y otros comercios y eventos
        <br> especiales.
        <br>El equipo está conformado por diseñadores, floristeros de tradición e informáticos que proponen y confeccionan los 
        <br>ramos de flores que se muestran en nuestra tienda en línea, basados en su estilo y preferencias.
        </p>
        <br>
        <br>
     <img src="{% static 'img/tienda2.JPG' %}">
    </center>
{% endblock contenido %}
        
        
